*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #004521;
    --green1: #01602a;
    --green2: #00873a;
    --green3: #77dc1f;
}

html, body {
    --w: 100svw;
    --h: 100svh;

    min-width: var(--w);
    max-width: var(--w);

    min-height: var(--h);
    max-height: var(--h);
}

#app {
    min-width: var(--w);
    max-width: var(--w);

    min-height: var(--h);
    max-height: var(--h);
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
}

#tela {
    background-color: #fff;
    --m-tela: 10px;
    min-width: calc(var(--w) - 2 * var(--m-tela));
    max-width: calc(var(--w) - 2 * var(--m-tela));
    min-height: 200px;
    max-height: 200px;
    margin: 0 var(--m-tela);
}

#range {
    margin: 20px;
    flex: 1;
}
